body{
  font-family: 'Roboto Slab', serif;
}


header {
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10rem;
}

header p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.experiencia{
  background: #f7f7f7;
  width: 100%;
  padding: 1% 0;
}

.icon{
  display: inline-block;
  width: 20%;
  margin-left: 10%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
  font-weight: 300;
  padding: 0.5%;
}

hr{
border-top: 3px solid;
padding-bottom: 2rem;
}



footer a{
  pointer-events: none;
  color: #333333;
}

footer{
background-color: #f7f7f7}
